In [1]:
import pandas as pd
import os

In [3]:
vine_df = pd.read_csv('vine_table.csv')
vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R9CO86UUJCAW5,3.0,0.0,0.0,N,Y
1,R3PR8X6QGVJ8B1,5.0,0.0,0.0,N,Y
2,R39BO2819ABUPF,4.0,0.0,0.0,N,Y
3,R3ADL7V6EGGEEP,4.0,0.0,0.0,N,Y
4,R1OXYPBPLVRMI5,5.0,0.0,0.0,N,Y
...,...,...,...,...,...,...
348652,RIFGPIICFHYJ0,2.0,23.0,23.0,N,N
348653,R2G5D45UPIP0M3,4.0,1.0,1.0,N,N
348654,R3NFU6EHQPXII1,5.0,11.0,13.0,N,N
348655,R252P4BUPDXHT6,5.0,7.0,10.0,N,N
348656,R24T5AJ0PSNUQ,5.0,0.0,0.0,N,N

In [5]:
filtered_df = vine_df[vine_df['total_votes']>20]
filtered_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
45,R11IBSD5E6HPSD,1.0,29.0,31.0,N,Y
180,R2KVWAYBPWK1OV,5.0,20.0,22.0,N,N
209,R1FLOE9E4ODIGR,5.0,34.0,38.0,N,Y
239,R6XTEZCSCUJ4J,5.0,20.0,23.0,N,Y
283,R2WVV9LQKIVMOX,5.0,23.0,23.0,N,N
...,...,...,...,...,...,...
348614,R33PHQQAV5DJ8X,5.0,98.0,100.0,N,N
348621,RWO8RAQ8QBXID,1.0,4.0,37.0,N,N
348631,R3LXSP7H4UT47G,4.0,20.0,23.0,N,N
348633,R168YIRN0KE3U7,5.0,18.0,30.0,N,N
348652,RIFGPIICFHYJ0,2.0,23.0,23.0,N,N

In [6]:
helpful_df = filtered_df[filtered_df['helpful_votes']/filtered_df['total_votes'] >= 0.5]
helpful_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
45,R11IBSD5E6HPSD,1.0,29.0,31.0,N,Y
180,R2KVWAYBPWK1OV,5.0,20.0,22.0,N,N
209,R1FLOE9E4ODIGR,5.0,34.0,38.0,N,Y
239,R6XTEZCSCUJ4J,5.0,20.0,23.0,N,Y
283,R2WVV9LQKIVMOX,5.0,23.0,23.0,N,N
...,...,...,...,...,...,...
348591,RMGU68P5LBV6X,5.0,27.0,27.0,N,N
348614,R33PHQQAV5DJ8X,5.0,98.0,100.0,N,N
348631,R3LXSP7H4UT47G,4.0,20.0,23.0,N,N
348633,R168YIRN0KE3U7,5.0,18.0,30.0,N,N
348652,RIFGPIICFHYJ0,2.0,23.0,23.0,N,N

In [9]:
vine_y_df = helpful_df[helpful_df['vine']=='Y']
vine_n_df = helpful_df[helpful_df['vine']=='N']

In [10]:
vine_y_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
19527,RPJ7C4HP3BHXN,5.0,25.0,29.0,Y,N
21361,R3SB08XK0M7993,4.0,44.0,49.0,Y,N
33098,R26X1DACMCN3YF,3.0,16.0,21.0,Y,N
38418,R17HKKDE9ZRVOO,4.0,31.0,35.0,Y,N
39255,R1R7GNSCMO8U7I,4.0,24.0,28.0,Y,N
40555,R2T83WIPG3IX5D,4.0,72.0,76.0,Y,N
44926,RD006IWFCUA5A,5.0,122.0,133.0,Y,N
64738,REOQCBUVUPXP1,4.0,23.0,27.0,Y,N
65596,R2336R80ZEOKTX,5.0,63.0,63.0,Y,N
65750,RC1ZXE5GVL9TA,4.0,20.0,23.0,Y,N
65953,R2J7WSJ8EX3D5S,5.0,30.0,32.0,Y,N
66906,R2QSLH5GY4OMNH,5.0,44.0,45.0,Y,N
67955,R2A0F7MYQGBPEG,4.0,33.0,40.0,Y,N
69191,R140DK42LYQWL,4.0,62.0,65.0,Y,N
69653,R3HJAGVD491IFV,5.0,105.0,105.0,Y,N
71245,R2N6KZ8A8T26IR,1.0,24.0,26.0,Y,N
73268,R2AUGMTZKSPJST,5.0,19.0,21.0,Y,N
114233,R1C3PCFS00UHBA,5.0,25.0,26.0,Y,N
172131,RY1C7QLDFKZPG,5.0,26.0,26.0,Y,N
190812,R1O5J8O83PI4Q,4.0,24.0,24.0,Y,N
191376,R1MZ7RY5264PE4,5.0,38.0,38.0,Y,N

In [12]:
vine_n_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
45,R11IBSD5E6HPSD,1.0,29.0,31.0,N,Y
180,R2KVWAYBPWK1OV,5.0,20.0,22.0,N,N
209,R1FLOE9E4ODIGR,5.0,34.0,38.0,N,Y
239,R6XTEZCSCUJ4J,5.0,20.0,23.0,N,Y
283,R2WVV9LQKIVMOX,5.0,23.0,23.0,N,N
...,...,...,...,...,...,...
348591,RMGU68P5LBV6X,5.0,27.0,27.0,N,N
348614,R33PHQQAV5DJ8X,5.0,98.0,100.0,N,N
348631,R3LXSP7H4UT47G,4.0,20.0,23.0,N,N
348633,R168YIRN0KE3U7,5.0,18.0,30.0,N,N
348652,RIFGPIICFHYJ0,2.0,23.0,23.0,N,N

In [13]:
total_y = vine_y_df.shape[0]
total_n = vine_n_df.shape[0]

In [14]:
total_y

21

In [15]:
total_n

6309

In [18]:
fivestar_y = vine_y_df[vine_y_df['star_rating'] == 5].shape[0]
fivestar_n = vine_n_df[vine_n_df['star_rating'] == 5].shape[0]

In [19]:
fivestar_y

10

In [20]:
fivestar_n

3266

In [24]:
fivestar_perc_y = (fivestar_y/total_y)*100
fivestar_perc_n = (fivestar_n/total_n)*100

In [25]:
fivestar_perc_y

47.61904761904761

In [26]:
fivestar_perc_n

51.7673165319385